.panel.col-md-6.col-md-offset-3.jumbotron
  %h3.text-center Resend confirmation instructions
  = form_for(@user, url: confirmation_path(:user)) do |f|
    %p.form-row
      .form-group.col-md-offset-1.col-md-10
        = f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control', placeholder: 'Email'


    .actions.text-center
      = link_to 'Back', root_path, class: 'btn btn-default btn-sm'
      = f.submit 'Resend confirmation instructions', class: 'btn btn-success btn-sm'

