.container
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item{class: ('active' if current_page?(root_path))}
          =link_to 'Home', root_path, class: 'nav-link'
        - if current_user.is_admin?
          %li.nav-item{class: ('active' if current_page?(users_path))}
            =link_to 'Users', users_path, class: 'nav-link'
        %li.nav-item{class: ('active' if current_page?(issues_path))}
          =link_to 'Issues', issues_path, class: 'nav-link'
      %ul.navbar-nav.float-right
        %li.nav-item.dropdown
          %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', href: '#'}
            %strong= current_user.to_s
          .dropdown-menu{'aria-labelledby' => 'navbarDropdownMenuLink', style: 'color: gray'}
            = link_to edit_user_registration_path, class: 'nav-link' do
              %span.glyphicon.glyphicon-user
              My profile
            = link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
              %span.glyphicon.glyphicon-log-out
              Logout
